<footer class="footer-distributed">

  

    <div class="footer-left">

      <p class="footer-links">
        <a [routerLink]="['/home']">Home</a>
        ·
        <a [routerLink]="['/blog']">Blog</a>
        ·
        <a [routerLink]="['/servicio']">Servicios</a>
        ·
        <a [routerLink]="['/contactos']">Contactos</a>
        ·
      
        <a href="https://www.interdominios.com/docs/politica-de-privacidad-de-datos.pdf">Política de privacidad</a>
      </p>

      <p>Compania de Iván &copy; 2018</p>
    </div>

  </footer>